[submodule "base/tmux/dot-config/tmux/plugins/catppuccin/tmux"]
	path = base/tmux/dot-config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "base/tmux/dot-config/tmux/plugins/tpm"]
	path = base/tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
